<div class="mb-2 form-row align-items-left">
    <div class="col col-sm-2">
    <button type="button" class="delete-btn btn btn-secondary" role="button"> &times; </button>
    </div>
    <div class="col col-sm-8">
    <input type="text" class="triggerName form-control" placeholder="Trigger Name">
    </div>
    <div class="col col-sm-2">
    <button type="button" class="fire-btn btn btn-primary" role="button">Fire</button>
    </div>
</div>